/*Estilos de css*/
/*Bloques*/
/*Elementos*/
/*Modificador*/
.Navcontactos {
  background-color: black; }

.seccionContacto {
  height: 120px; }

.divFormulario {
  width: auto; }

.BotonEnviar {
  margin-top: 5px; }
